input[type="text"]{
    width: 100%;
}
#wpbody{
    padding-right: 15px;
}
@media (min-width:783px) {
    
    input[type="text"]{
        width: 50%;
    }
    #wpbody{
        padding-right: 20px;
    }
}